.how-to-play {
    .how-to-play-inner {
        transition: height 0.1s ease-in-out, padding 0.1s ease-in-out;
        @apply h-0 bg-yellow-500 overflow-hidden;

        &.active {
            @apply h-full py-5 px-3;
        }

        .cells {
            @apply grid justify-center gap-1 py-6;
            grid-template-columns: repeat(4, 50px);
            grid-template-rows: repeat(4, 50px);

            .cell-0 {
                opacity: 0;
            }
            div {
                @apply flex justify-center items-center bg-black text-yellow-200;
            }
        }

        &.active {
            .cell {
                animation: gameOver 6s 7s ease-in forwards;
            }

            div:nth-child(4){
                animation: moveLeft 10s 1s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustLeft 6s 7s ease-in forwards;
            }

            div:nth-child(8){
                animation: moveUp 10s 2s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustUp 6s 7s ease-in forwards;
            }

            div:nth-child(7){
                animation: moveRight 10s 3s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustRight 6s 7s ease-in forwards;
            }

            div:nth-child(11){
                animation: moveUp 10s 4s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustUp 6s 7s ease-in forwards; 
            }

            div:nth-child(12){
                animation: moveLeft 10s 5s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustLeft 6s 7s ease-in forwards;
            }

            div:nth-child(16){
                animation: moveUp 10s 6s ease-in forwards, gameOver 6s 7s ease-in forwards, adjustUp 6s 7s ease-in forwards;
            }


            @keyframes moveLeft {
                10%,100%{
                    transform: translateX(-54px) rotate(0deg);
                    background: black;
                    color: yellow;
                    border: solid 1px black;
                }
            }

            @keyframes moveRight {
                10%,100%{
                    transform: translateX(54px) rotate(0deg);
                    background: black;
                    color: yellow;
                    border: solid 1px black;
                }
            }

            @keyframes moveUp {
                10%,100%{
                    transform: translateY(-54px) rotate(0deg);
                    background: black;
                    color: yellow;
                    border: solid 1px black;
                }
            }

            @keyframes gameOver {
                20%,40%,60%,80%,100%{
                    transform: rotate(360deg);
                    background: yellow;
                    color: black;
                    border: solid 1px black;
                }
            }

            @keyframes adjustLeft {
                0%{
                    transform: translateX(-54px);
                }
                20%,40%,60%,80%,100%{
                    transform: translateX(-54px) rotate(360deg);
                    background: yellow;
                    color: black;
                    border: solid 1px black;
                }
            }

            @keyframes adjustUp {
                0%{
                    transform: translateY(-54px);
                }
                20%,40%,60%,80%,100%{
                    transform: translateY(-54px) rotate(360deg);
                    background: yellow;
                    color: black;
                    border: solid 1px black;
                }
            }

            @keyframes adjustRight {
                0%{
                    transform: translateX(54px);
                }
                20%,40%,60%,80%,100%{
                    transform: translateX(54px) rotate(360deg);
                    background: yellow;
                    color: black;
                    border: solid 1px black;
                }
            }
        }
    }
}