@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./how-to-play.scss";

h2 {
    @apply py-4 text-3xl md:text-4xl;
}

.userName {
    @apply my-0 py-4 mx-auto flex flex-col justify-center items-stretch gap-4;

    input {
        @apply inline-block p-2 text-center text-lg border-2 border-solid border-black bg-transparent;
        &:focus {
            background: #ffda08;
        }

        &.invalid-input {
            animation: shake 1s ease-in;    
            @keyframes shake {
                10%, 90% {
                transform: translate3d(-1px, 0, 0);
                }
                
                20%, 80% {
                transform: translate3d(2px, 0, 0);
                }
            
                30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
                }
            
                40%, 60% {
                transform: translate3d(4px, 0, 0);
                }

                0%, 25%, 50%, 75%, 90% {
                    @apply border-red-600;
                }
                
                100% {
                    @apply border-black;
                }
            }
        }
    }
}

.play-btn,
.how-to-play-btn,
.start-over-btn {
    border: 2px solid transparent;
    transition: all .3s ease-in;
    @apply inline-block p-2 uppercase bg-black text-white;
    &:hover,
    &:focus {
        border: 2px solid black;
        background: #ffda08;
        color: black;
    }
}

.table {
    @apply flex flex-col py-4;

    table {
        background: rgb(243, 184, 107);
        @apply border-2 border-solid border-black;

        td,th {
            padding: 5px 20px;
            border: 2px solid black;
        }
    }
}

.gameBoard {
    @apply grid justify-center py-4 gap-1; 
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);

    @media (max-width: 768px) {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 70px);
    }

    .cell {
        border: 2px solid transparent;
        transition: all .1s ease-in;
        @apply inline-block p-2 uppercase bg-black text-white text-2xl md:text-3xl;
        &:hover,
        &:focus {
            border: 2px solid black;
            background: #ffda08;
            color: black;
        }
    }

    .hole {
        opacity: 0;
    }
}

table {
    th {
        div {
            @apply flex items-center space-x-1;
            button.sort-button {
                @apply inline-block w-5 h-5 relative transition-all;
                
                &.ascending {
                    &::before {
                        content: "";
                        @apply absolute border-solid;
                        left: calc(50% - 7px);
                        top: 5px;
                        border-width: 0px 7px 7px 7px;
                        border-color: transparent transparent black transparent;
                    }
                }

                &.descending {
                    &::after {
                        content: "";
                        @apply absolute border-solid;
                        left: calc(50% - 7px);
                        bottom: 5px;
                        border-width: 7px 7px 0px 7px;
                        border-color: black transparent transparent transparent;
                    }
                }

                &:hover,
                &:focus {
                    &::before {
                        @apply transition-all;
                        border-color: transparent transparent yellow transparent;
                    }
                    &::after {
                        @apply transition-all;
                        border-color: yellow transparent transparent transparent;
                    }
                }
            }
        }
    }
}